body, html{
	height: 100%;
}

body {
    background: linear-gradient(to bottom, #0077c2, #003d80);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
	width: 60%;
    max-width: 500px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	display: block;
	font-size: 18px;
	margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.buttons{
	display: flex;
	margin-top: 5%;
	justify-content: center;
	width: 100%;
}

#login-btn {
	background-color: black;
	color: #fff;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	width: 50%;
}

#sign-btn{
	background-color: white;
	color: black;
	padding: 12px 20px;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	transition: background-color 0.2s;
	width: 50%;
}